src/main/resources/wsdl/schemes/hotel-exception.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
          targetNamespace="http://im.com/services/hotel/exception"
          elementFormDefault="qualified"
          version="1.0">

    <xsd:element name="SearchHotelsException">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="code" type="xsd:int"/>
                <xsd:element name="message" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>